@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Iansui&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* font-family: "Iansui", cursive; */
/* font-family: "Dancing Script", cursive; */
/* font-family: "Cormorant", serif; */
* {
    margin: 0;
    padding: 0;
}


.icon_clock {
    width: 10px;
    height: 10px;
}
.number {
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: grey;
}
.link_taskbar_srv {
    /* font-family: "Iansui", cursive; */
    font-size: 15px;
    text-decoration: none;
    color: black;

}
.list_services {
    list-style-type: none;
    /* padding-left: 30px; */
    display: none;
    position: absolute;
    /* color: grey; */
    padding-top: 20px;
    /* color: black; */
    background: #94b73d63;
}


.link_taskbar {
    font-size: 20px;
    color: grey;
}
.div_header{
    border: 1px solid;
    height: 80px;
    position: fixed;
    /* border: 1px solid; */
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.799);
}
.div_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 40px;
    color: grey;
    padding-bottom: 10px;
}
.icon_and_program {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.icon_phone {
    width: 10px;
    height: 10px;
}
.program {
    font-size: 10px;
}
 .div_taskbar{
   
 } 
 .list_taskbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    /* position: fixed; */
   
    /* color: grey; */
}
/* .link_taskbar_srv {
    font-size: 15px;
    text-decoration: none;
    color: black;

} */
 header{
    background-color: white;
 }

.show_list:hover .list_services {
    display: block;
    /* transition: 1s; */
}


.title_text {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    font-weight: 100;
}

.subtitle_text {
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    margin-left: 150px;
    color: #737373;

}

.link_taskbar:hover {
    color: #95b052;
    background-color: rgba(255, 255, 255, 0.455);
}

.big_title {
    font-family: "Cormorant", serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.paragraph {
    font-family: "Cormorant", serif;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
}

.txt_frst_label {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img_curles {
    width: 150px;
}
.div_footer {
    /* background-color:  rgba(255, 255, 255, 0.367); */
    /* filter: drop-shadow(0 0 0.75rem black); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
    margin-top: 100px;
    margin-bottom: 100px;
}
.div_img_footer {
    margin-left: 80px;
}
.contact_footer {
    font-family: "Cormorant", serif;
    font-size: 50px;
    color: grey;
    padding-bottom: 10px;
}
.title_footer {
    /* font-family: "Cormorant", serif; */
    /* font-size: 20px; */
    font-family: "Iansui", cursive;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
.number_footer {
    font-family: "Iansui", cursive;
    color: grey;

}
.title_footer {
    /* font-family: "Cormorant", serif; */
    /* font-size: 20px; */
    font-family: "Iansui", cursive;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
.number_footer {
    font-family: "Iansui", cursive;
    color: grey;

}
.footer_map {
    margin-right: 80px;
}

.big_titleV{
    font-family: "Cormorant", serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
}